/* Мягкий фон, пусть контейнер будет чуть темнее */
body {
    background-color: #121212;
}

/* Слегка приглушаем текст в картах и футере */
.text-muted {
    opacity: .7;
}

/* Подгоняем раскладку */
.card {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.02);
}
