<% if (successMsg && successMsg.length) { %>
    <div class="alert alert-success">
        <% successMsg.forEach(msg => { %>
            <p><%= msg %></p>
        <% }) %>
    </div>
<% } %>

<% if (errorMsg && errorMsg.length) { %>
    <div class="alert alert-danger">
        <% errorMsg.forEach(msg => { %>
            <p><%= msg %></p>
        <% }) %>
    </div>
<% } %>
