<nav class="navbar navbar-expand-lg bg-primary navbar-dark py-1">
    <div class="container-fluid">
        <!-- Название сайта -->
        <a class="navbar-brand fw-bold fs-4 text-white" href="/">🧠 Quiz Portal</a>

        <!-- Кнопка для мобильного меню -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Навигация и действия -->
        <div class="collapse navbar-collapse" id="navbarMain">
            <!-- Мобильное меню -->
            <ul class="navbar-nav w-100 d-lg-none">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/quizzes">Тесты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/about">О нас</a>
                </li>
                <% if (currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/quizzes/new">Создать квиз</a>
                    </li>
                <% } %>
                <li><hr class="dropdown-divider"></li>
                <% if (!currentUser) { %>
                    <li class="nav-item text-center">
                        <a class="btn btn-light fw-bold w-75 my-2" href="/login">
                            <i class="bi bi-box-arrow-in-right fs-5 me-1"></i> Войти
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/profile">
                            <i class="bi bi-person-circle fs-5"></i> Профиль
                        </a>
                    </li>
                    <% if (currentUser.role === 'admin') { %>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin">
                                <i class="bi bi-speedometer2 fs-5"></i> Админ-панель
                            </a>
                        </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/logout">
                            <i class="bi bi-box-arrow-right fs-5"></i> Выход
                        </a>
                    </li>
                <% } %>
            </ul>

            <!-- Десктопное меню: навигация по центру -->
            <ul class="navbar-nav mx-auto d-none d-lg-flex">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/quizzes">Тесты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/about">О нас</a>
                </li>
                <% if (currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/quizzes/new">Создать квиз</a>
                    </li>
                <% } %>
            </ul>

            <!-- Десктопное меню: профиль/вход/выход справа -->
            <ul class="navbar-nav d-none d-lg-flex align-items-center">
                <% if (!currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">
                            <i class="bi bi-box-arrow-in-right fs-5"></i>
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle fs-5"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                            <% if (currentUser.role === 'admin') { %>
                                <li><a class="dropdown-item" href="/admin">Админ-панель</a></li>
                            <% } %>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Выход</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
